

*:not(i) {

    font-size: 18px ;

}

.ui.inverted.secondary.menu .teal.active {
        background-color: #008080 !important;
}


*:not(i) {

    font-family: 'Ubuntu', "Open Sans" !important;
}
.masthead {
    height: 65vh;
}

